.modal {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.16);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    padding-top: 20px;
    width: 460px;
    height: 312px;
    border-radius: 12px;
    background: #FFFFFF;
    transform: scale(0.5);
    transition: 0.4s;
}
.modal__content.active {
    transform: scale(1);
}
.Button-close {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.Button-close.error {
    justify-content: right;
    margin-right: 30px;
}
@media screen and (max-width: 899px) {
    /* Стили для экранов меньше 900px */

    .modal {
        overflow: auto;
    }

    .modal__content {
        width: calc(100% - 32px);
        max-width: 400px;
        height: auto;
        min-height: 200px;
        padding: 20px;
    }

    .Button-close {
        margin-top: 16px;
    }
}

@media screen and (min-width: 1921px) {
    /* Стили для экранов с шириной больше 1920px */

    .modal__content {
        width: 920px;
        height: 624px;
    }
    .Button-close {
        margin-top: 120px;
    }
}