.button-add {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 15px;
    width: 44px;
    height: 44px;
    border: 1.5px solid #5558FA;
    border-radius: 4px;
    background: #FFFFFF;
}
.field-advantage {
    box-sizing: border-box;
    padding: 12px;
    width: 300px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    margin-bottom: 8px;
}
.field-advantage- {
    display: flex;
    align-items: center;
}
.btn-trash {
    border-color: transparent;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
}
.CheckBox {

}