.button-add {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 15px;
    width: 44px;
    height: 44px;
    border: 1.5px solid #5558FA;
    border-radius: 4px;
    background: #FFFFFF;
}
.field-advantage- {
    display: flex;
    align-items: center;
}
.btn-trash {
    border-color: transparent;
    background: #FFFFFF;
    padding-bottom: 5px;
}
.CheckBox {
max-width: 20px;
}
@media screen and (min-width: 1921px) {
    .button-add {
        margin-top: 20px;
        width: 88px;
        height: 88px;
        padding-left: 30px;
    }
    .btn-trash {
        padding-bottom: 10px;
    }
    .css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
        font-size: 2em;
        margin-left: 20px;
    }
    .MuiRadio-root {
        transform: scale(2);
    }
}