.counter {
    position: absolute;
    font-size: 10px;
    color: #3b3939;
    bottom: 5px;
    margin-left: 95%;
}

.modal_header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-left: 25px;
    font-weight: 600;
}

.modal_header.error {
    justify-content: space-between;
}

.CompletedIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
    background: rgba(5, 174, 113, 0.15);
    width: 80px;
    height: 80px;
    margin-left: calc(50% - 80px / 2);
    border-radius: 100px;
}

.close-button {
    background: rgba(0, 0, 0, 0.04);
    border-radius: 100px;
    margin-right: 20px;
    border-color: transparent;
    height: 28px;
    width: 28px;
    padding-top: 5px;
}

.CompletedIcon.Error {
    background: rgba(232, 78, 88, 0.15);
}

@media screen and (max-width: 899px) {
    /* Стили для экранов меньше 900px */
    .counter {
        bottom: 8px;
    }

    .modal_header {
        padding-left: 16px;
        font-size: 18px;
    }

    .CompletedIcon {
        margin-top: 32px;
        width: 56px;
        height: 56px;
        margin-left: calc(50% - 56px / 2);
    }
}

@media screen and (min-width: 1921px) {
    /* Стили для экранов с шириной больше 1920px */
    .close-button {
        height: 50px;
        width: 50px;
    }

    .counter {
        bottom: 5px;
        font-size: 16px;
    }

    .modal_header {
        padding-left: 25px;
        font-size: 28px;
    }

    .CompletedIcon {
        transform: scale(2);
        margin-top: 200px;
        margin-left: calc(50% - 80px / 2);
    }
}